.skill-section {
  margin-top: 120px;
  width: 100%;
  height: fit-content;
  position: relative;
}

.skill-inside-container {
  max-width: 1200px;
  margin: 0 auto;
}

.title-skill {
  position: relative;
  z-index: 2;
  top: 30px;
}

.skill-inside-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.skill-section-image {
  z-index: 2;
  position: relative;
  width: 100%;
  height: auto;
  background: transparent;
  top: 80px;
}

.skill-image-group-of-six {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;
  bottom: 30px;
}
.skill-image-left {
  width: 300px;
  display: inline-block;
  align-items: center;
  justify-content: center;
}
.skill-image-right {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 300px;
}
.skill-icons {
  width: 100%;
  object-fit: scale-down;
}
