
.slide-main-container{
   width: 100%;
   margin-top: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.slide-inside-container{
   border:solid 1px #424242 ;
   padding: 50px 20px 10px 40px;
   height: 380px;
   width: 860px;
    position: relative;
  background:#2D2D2D3D;   /* Your slide background */
  border-radius: 20px;
  line-height: 2.2rem;
}

.bullet-yellow{
   padding-left: 60px;
}

.text-3{
   padding-left: 60px;
}
.text-4{
   padding-left: 100px;
}

.bottom-batman{
   margin-left: 300px;
}


.slide-inside-container::before{
   content: "";
   position: absolute;
   top: -33px;
   left: 15px;
   width: 180px;
   height: 30px;
   background: #2D2D2D3D;
   border: solid 1px  #424242 ;
   clip-path: polygon(
    0% 100%,
    20% 0%,
    80% 0%,
    100% 100%
   );
}

.slide2-about-flex{
   display: flex;
   height: 200px;
}

.boxing-img-about{
   object-fit: scale-down;
   border-radius: 17px;
}