
.slide-main-container{
   width: 100%;
   margin-top: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.slide-inside-container{
   border:solid 1px #BEBEBE  ;
   padding: 50px 20px 10px 40px;
   height: 380px;
   width: 860px;
    position: relative;
  background:#2D2D2D3D;   /* Your slide background */
  border-radius: 20px;
  line-height: 2.2rem;
}

.bullet-yellow{
   padding-left: 60px;
}

.text-3{
   padding-left: 60px;
}
.text-4{
   padding-left: 100px;
}

.bottom-batman{
   margin-left: 300px;
}


.slide-inside-container::before{
   content: "";
   position: absolute;
   top: -33px;
   left: 15px;
   width: 180px;
   height: 30px;
   background: #2D2D2D3D;
   border: solid 1px  #BEBEBE ;
   clip-path: polygon(
    0% 100%,
    20% 0%,
    80% 0%,
    100% 100%
   );
}

.slide2-about-flex{
   display: flex;
   height: 200px;
 
   }

   .slide2-about-flex2{
   display: flex;
   height: 200px;
   position: absolute;
   top: 39%;
   left: 10%;
   }

  

   .slide2-about-flex3{
     display: flex;
   height: 100px;
   width: 510px;
   position: absolute;
   right: 17px;
   }

 

.boxing-img-about{
   object-fit: scale-down;
   border-radius: 17px;
}


.slide-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 40px 0;
}

.swiper-container-custom {
  width: 200px;
  height: 200px;
  overflow: visible !important;
  position: relative;
}

/* Make side images visible like stacked cards */
.swiper-slide {
  transition: transform 0.4s ease;
  position: relative;
  width:fit-content;
  height: 180px !important;
  aspect-ratio: 3/4;
  background:  1px solid black;
  border-radius: 17px;
}

/* .swiper-slide img{
  display: block;
  width: 150px;
  height: 150px;
  object-fit: scale-down;
  border-radius: 10% !important;
  user-select: none;
} */

/* Active centered slide */
.swiper-slide-active img {
  transform: scale(1) rotate(0deg);
}

/* Left and right slides styling */
.swiper-slide-prev img,
.swiper-slide-next img {
  transform: scale(0.85) rotate(0deg);
  opacity: 0.8;
}

.swiper-slide-prev img {
  transform: scale(0.99) rotate(0deg);
}

.swiper-slide-next img {
  transform: scale(0.99) rotate(0deg);
}

/* Bullet pagination on the left */
.swiper-pagination {
bottom: -20px !important;
  transform: translateY(-50%);
  width: 100px !important;
  gap: 10px;
  display: flex;
  margin-left: 40px;
  border-radius: 20px;
  justify-content: center;
    background:#2D2D2D3D;   /* Your slide background */
    border:solid 1px #BEBEBE ;
  border-radius: 20px;
}

.swiper-pagination-bullet {
  background: #555 !important;
  opacity: 1 !important;
  width: 14px;
  height: 14px;
  margin: 8px 0 !important;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  width: 18px !important;
  background: yellow !important;
}


