/*for  app.jsx file isnide 3 components below*/

.w-20{
  width: 20%;
}

.w-30{
  width: 30%;
}

.instagram-logo{
  width: 100px;
}
.bi{
  margin-right: 9px;
}

/* for feed componen inside 2 components */
.story{
  height: 100px;
}

.dp{
  height: 50px;
  width: 50px;
}