/*for  app.jsx file isnide 3 components below*/

.w-20{
  width: 20%;
}

.w-30{
  width: 30%;
}

.instagram-logo{
  width: 100px;
}
.bi{
  margin-right: 9px;
}



/* for feed componen inside 2 components */
.story{
  height: 100px;
}
.story-dp{
  border-radius: 50%;
  height: 54px;
  width: 50px;

}
.story-wrap p{
 margin-left: 15px;
}
/* below is the storyview component*/
.story-view{
position: absolute !important;


}

.story-view-top{
  position: relative !important;
 

}
.story-view-dp{
  height: 20px;
}
.entire-story{
  display: flex;
  justify-content: center;
}



.whole-story{
  height: 100vh;
  background: rgb(55, 48, 48);
}

.gradian-border{
  width: 55px;
  height: 60px;
  display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: center;
 background: linear-gradient(45deg,#ff00ff,#ff6600,#ffc00f);
}


.dp{
  height: 20px;
  width: 20px;
  margin-top: 9px;
  margin-right: 5px;
}
.user-title{
  margin-top: 5px;
}
.post-image{
  width: 450px;
}

.user-time{
  margin-top: 6px;
  margin-left: 7px;
}

.suggesting-post p{
  margin-left: 5px;
}
.suggesting-post h5{
  font-size: 1.2rem
}
.follow{
  margin-top: 7px;
}

.suggestion{
  position: fixed;
 margin: 20px 0px 0px 35px;

}

