/*for  app.jsx file isnide 3 components below*/

.w-20{
  width: 20%;
}

.w-30{
  width: 30%;
}

.instagram-logo{
  width: 100px;
}
.bi{
  margin-right: 9px;
}



/* for feed componen inside 2 components */
.story{
  height: 100px;
}
.story-dp{
  border-radius: 50%;
  height: 54px;
  width: 50px;

}
.story-wrap p{
 margin-left: 15px;
}
.navi{
 cursor: pointer;
}

.gradian-border{
  width: 55px;
  height: 60px;
  display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: center;
 background: linear-gradient(45deg,#ff00ff,#ff6600,#ffc00f);
}


/* below is the storyview component inside story image*/
.story-view{
 width: 100%;
 object-fit: cover;


}

.story-view-top{
  position: absolute !important;
 display: flex;
 left: 5px;
 top: 10px;

}
.story-view-dp{
  height: 40px;
}

.stry-name{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  margin-top: 4px;
  margin-left: 8px;
  text-decoration:solid black;
}

.entire-story{
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  width: 349px;
}





.whole-story{
  height: 100vh;
  background: rgb(55, 48, 48);
}

.arrow{
  margin: 0;
}
 /* above is the css isnide the story view*/



.dp{
  height: 20px;
  width: 20px;
  margin-top: 9px;
  margin-right: 5px;
}
.user-title{
  margin-top: 5px;
}
.post-image{
  width: 450px;
}

.user-time{
  margin-top: 6px;
  margin-left: 7px;
}

.suggesting-post p{
  margin-left: 5px;
}
.suggesting-post h5{
  font-size: 1.2rem
}
.follow{
  margin-top: 7px;
  cursor: pointer;
}

.suggestion{
  position: fixed;
 margin: 20px 0px 0px 35px;

}

/*side bar cursor*/

.cursor{
  cursor: pointer;
}
 

/*profile crud*/

.prof{
  height: 150px;
  width: 150px;
}