@media screen and (max-width: 991px) {
  #navbar {
    width: 100vw;
  }
  .list-items {
    list-style: none;
    padding-left: 50px;
    font-size: 12px;
  }

  #btne {
    padding-right: 20px;
  }
  #homepage {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    margin-bottom: 50px;
  }
  #homepage img {
    height: 90vh;
    width: 100%;
    max-width: 990px;
  }
  .text-homepage {
    margin-bottom: 35%;
    margin-left: 30%;
    font-size: 14px;
  }

  .search-bar {
    margin-left: 29%;
    margin-bottom: 25%;
    padding: 20px 20px 20px 20px;
    width: 50vw;
  }

  #logo {
    padding-left: 20px;
  }
  .search-bar > input {
    width: 100%;
    font-size: 17px;
  }
  .imgcon {
    height: 40px;
    border-radius: 30px;
  }
  #three-container {
    top: 92%;
    margin-left: 35%;
  }
  .three-container-items {
    width: 30%;
    padding: 20px 10px;
    font-size: 14px;
  }
  /*about section below*/
  #about {
    margin-top: 60px;
    width: 100vw;
    height: 65vh;
    margin-bottom: 60px;
  }

  #notes-container {
    width: 59vw;
    height: 68vh;
    padding: 15px 0px 20px 50px;
  }

  #about-heading {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
  }
  #note-p {
    width: 57vw;
    font-size: 14px;
    text-align: start;
  }
  #btn-view {
    margin-top: 16px;
  }

  #img-class {
    margin-top: 3vh;
    margin-left: 53vw;
    height: 340px;
    width: 340px;
  }

  /*course section*/

  .img-class-course {
    /* height: 140px;
    width: 258px; */
    width: 100%;
    height: 28vh;
    max-width: 100%;
    border-radius: 5px 5px 2px 2px;
  }
  .list-item-inside {
    font-size: 14px;
    border-radius: 10px;
    margin-top: 40px;
    flex: 1 1 220px; /* Grow, shrink, and set a base width of 200px */
    min-width: 220px; /* Minimum width of each box */
    padding: 0px 0px 25px 0px;
    height: 50vh;
  }
  .minitag {
    font-size: 13.9px;
  }
  .btn-list {
    margin-top: 0.5px;
    width: 13.5rem;
    font-size: 11px;
  }
  #course-container {
    height: 100vh;
    margin-top: 0px;
    width: 100vw;
    padding: 5px 20px 0px 5px;
    margin-bottom: 300px;
    /* margin-left: 30px; */
  }

  /* course container ends here*/

  /* icon with 4 container section*/
  #action-box-container {
    height: 300px;
  }
  .img-icon2 {
    height: 30px;
  }
  #boxicon-container-img {
    width: 100vw;
  }
  #list-items3 {
    padding: 70px 0px 0px 0px;
    margin-left: 5rem;
  }
  .list-item-inside2 {
    width: 22%;
    height: 150px;
    padding: 10px 10px;
    font-size: 13px;
    margin-left: 0px;
  }
  .heading-container {
    font-size: 14px;
  }
  /* icon with 4 container sections endshere*/

  /* events container begin*/
  #events-container {
    width: 900px;
    margin-left: 30px;
  }
  .img-class-events {
    height: 180px;
    width: 250px;
  }

  .list-items-inside3 {
    height: 220px;
  }

  /*our event button css this is*/
  #event-btn {
    width: 53.5rem;
  }
  /*our event containers ends here*/
  /*testimional container begins here */

  #TESTIMONIAL-container {
    height: 400px;
  }
  .TESTIMONIAL-img {
    width: 1000px;
    height: 400px;
    position: absolute;
  }
  #inside-test {
    position: relative;
    width: 600px;
    margin-left: 200px;
  }
  /* p tag*/
  .testi {
    font-size: 19px;
  }
  .tst {
    height: 60px;
    width: 60px;
    margin-left: 39%;
    margin-top: 30px;
  }
  /*h1 symnbol''*/
  .tor {
    font-size: 55px;
  }
  .testis {
    width: 200px;
    margin-left: 16%;
  }

  #changer {
    margin-top: 20px;
    font-size: 10px;
  }
  /*testimional container ends here */

  /*footer setion starts here*/

  .img-footer {
    height: 10px;
  }

  .follow-us {
    height: 20px;
  }

  #list-item-footer-section {
    padding: 50px 20px 20px 20px;
  }

  .list-item-inside-footer {
    height: 200px;
  }

  #footer-section {
    margin-top: 10px;
    background-color: black;
    width: 100vw;
  }

  /*footer-title*/
  .footer-title {
    font-size: 14.5px;
  }

  /*contact-footer*/

  .little-title {
    font-size: 10px;
  }

  .popular-links {
    line-height: 24px;
    font-size: 12px;
  }

  /*logo color*/
  #logos {
    font-size: 20px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 774px) {
  #navbar {
    width: 100vw;
  }
  .list-items {
    list-style: none;
    padding-left: 0px;
    font-size: 12px;
  }

  #btne {
    padding-right: 0px;
    padding-left: 0px;
  }

  #btnr {
    width: 8rem;
  }
  #homepage {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    margin-bottom: 50px;
  }
  #homepage img {
    height: 90vh;
    width: 100%;
    max-width: 990px;
  }
  .text-homepage {
    margin-bottom: 35%;
    margin-left: 25%;
    font-size: 14px;
  }

  .search-bar {
    margin-left: 30%;
    margin-bottom: 25%;
    padding: 20px 20px 20px 20px;
    width: 50vw;
  }

  #logo {
    padding-left: 20px;
  }
  .search-bar > input {
    width: 100%;
    font-size: 17px;
  }
  .imgcon {
    height: 40px;
    border-radius: 30px;
  }
  #three-container {
    top: 92%;
    margin-left: 35%;
  }
  .three-container-items {
    width: 30%;
    padding: 20px 10px;
    font-size: 14px;
  }
  /*about section below*/
  #about {
    margin-top: 60px;
    width: 100vw;
    height: 65vh;
    margin-bottom: 60px;
  }

  #notes-container {
    width: 59vw;
    height: 68vh;
    padding: 15px 0px 20px 50px;
  }

  #about-heading {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
  }
  #note-p {
    width: 57vw;
    font-size: 14px;
    text-align: start;
  }
  #btn-view {
    margin-top: 16px;
  }

  #img-class {
    margin-top: 3vh;
    margin-left: 53vw;
    height: 340px;
    width: 340px;
  }

  /*course section*/

  #list-items-course {
    gap: 15px;
  }
  .img-class-course {
    /* height: 140px;
    width: 258px; */
    width: 100%;
    height: 20vh;
    max-width: 100%;
    border-radius: 5px 5px 2px 2px;
  }
  .list-item-inside {
    font-size: 14px;
    border-radius: 10px;
    margin-top: 40px;
    flex: 1 1 150px; /* Grow, shrink, and set a base width of 200px */
    min-width: 150px; /* Minimum width of each box */
    padding: 0px 0px 25px 0px;
    height: 45vh;
  }
  .minitag {
    font-size: 13.9px;
  }
  .btn-list {
    margin-top: 0.5px;
    width: 10.5rem;
    font-size: 11px;
  }
  #course-container {
    height: 100vh;
    margin-top: 0px;
    width: 100vw;
    padding: 5px 0px 0px 0px;
    margin-bottom: 200px;
    /* margin-left: 30px; */
  }

  /* course container ends here*/

  /* icon with 4 container section*/
  #action-box-container {
    height: 300px;
  }
  .img-icon2 {
    height: 30px;
  }
  #boxicon-container-img {
    width: 100vw;
  }
  #list-items3 {
    padding: 70px 0px 0px 0px;
    margin-left: 2rem;
  }
  .list-item-inside2 {
    width: 23%;
    height: 150px;
    padding: 10px 10px;
    font-size: 12px;
    margin-left: 0px;
  }
  .heading-container {
    font-size: 13px;
  }
  /* icon with 4 container sections endshere*/

  /* events container begin*/
  #events-container {
    width: 100vw;
    margin-right: 0px;
    margin-top: 70px;
    margin-left: 0px;
    margin-bottom: 40px;
  }
  .img-class-events {
    height: 200px;
    width: 250px;
    border-radius: 8px;
  }
  #list-items-events {
    gap: 5px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100vw;
  }

  .list-items-inside3 {
    font-size: 14px;
    height: 220px;
  }
  .tbh {
    display: inline;
    margin-right: 50%;
  }

  /*our event button css this is*/
  #event-btn {
    margin-left: 0px;
    margin-bottom: 10px;
    width: 100vw;
  }

  #btn-courselast2 {
    margin-top: 50px;
    margin-left: 31%;
  }

  /*our event containers ends here*/
  /*testimional container begins here */

  #TESTIMONIAL-container {
    height: 400px;
  }
  .TESTIMONIAL-img {
    width: 100vw;
    height: 400px;
    position: absolute;
  }
  #inside-test {
    position: relative;
    width: 600px;
    margin-left: 100px;
  }
  /* p tag*/
  .testi {
    font-size: 19px;
  }
  .tst {
    height: 60px;
    width: 60px;
    margin-left: 39%;
    margin-top: 30px;
  }
  /*h1 symnbol''*/
  .tor {
    font-size: 55px;
  }
  .testis {
    width: 200px;
    margin-left: 16%;
  }

  #changer {
    margin-top: 20px;
    font-size: 10px;
  }
  /*testimional container ends here */

  /*certifcate container begins here */
  /*certificaiton-section*/
  /*img of certificate container*/
  .certicates {
    height: 60px;
    cursor: pointer;
  }
  #sizechange {
    height: 200px;
    cursor: pointer;
  }

  #certificaiton-section {
    margin-top: 30px;
    width: 100%;
  }

  /*certificaiton-list-items*/

  #certificaiton-list-items {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 10px;
    padding-left: 50px;
    padding-right: 90px;
    margin-left: 0px;
  }

  #certificate-heading {
    margin-bottom: 10px;
  }

  #certicate-btn {
    color: black;
    text-decoration: underline;
    justify-content: center;
    margin-left: 49%;
    margin-bottom: 10px;
  }
  /* certification section ends here*/

  /*footer setion starts here*/

  .img-footer {
    height: 10px;
  }

  .follow-us {
    height: 20px;
  }

  #list-item-footer-section {
    padding: 50px 20px 20px 20px;
  }

  .list-item-inside-footer {
    height: 200px;
  }

  #footer-section {
    margin-top: 10px;
    background-color: black;
    width: 100vw;
  }

  /*footer-title*/
  .footer-title {
    font-size: 14.5px;
  }

  /*contact-footer*/

  .little-title {
    font-size: 10px;
  }

  .popular-links {
    line-height: 24px;
    font-size: 12px;
  }

  /*logo color*/
  #logos {
    font-size: 20px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 618px) {
  #navbar > .list-items {
    display: none;
  }
  #navbar {
    width: 100vw;
    padding: 0px;
  }
  .list-items {
    list-style: none;
    padding-left: 0px;
    font-size: 1px;
  }

  #btne {
    padding-right: 100px;
    padding-left: 0px;
  }

  #btnr {
    width: 8rem;
  }
  #homepage {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    margin-bottom: 50px;
  }
  #homepage img {
    height: 90vh;
    width: 100%;
    max-width: 990px;
  }
  .text-homepage {
    margin-bottom: 45%;
    margin-left: 10%;
    font-size: 14px;
  }

  .search-bar {
    margin-left: 25%;
    margin-bottom: 35%;
    padding: 10px 10px 10px 10px;
    width: 50vw;
  }

  #logo {
    padding-left: 20px;
  }
  .search-bar > input {
    width: 100%;
    font-size: 17px;
  }
  .imgcon {
    height: 30px;
    border-radius: 30px;
  }
  #three-container {
    top: 92%;
    margin-left: 13%;
  }
  .three-container-items {
    width: 25%;
    padding: 20px 10px;
    font-size: 11px;
  }
  /*about section below*/
  #about {
    margin-top: 60px;
    width: 100vw;
    height: 65vh;
    margin-bottom: 60px;
  }

  #notes-container {
    width: 100vw;
    height: 60vh;
    padding: 22px 10px 20px 10px;
  }

  #about-heading {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
  }
  #note-p {
    width: 95vw;
    height: fit-content;
    font-size: 14px;
    text-align: start;
    padding-right: 0px;
  }
  #btn-view {
    margin-top: 16px;
  }

  #img-class {
    display: none;
  }

  /*course section*/

  #list-items-course {
    gap: 5px;
  }
  .img-class-course {
    /* height: 140px;
    width: 258px; */
    width: 100%;
    height: 15vh;
    max-width: 100%;
    border-radius: 5px 5px 2px 2px;
  }
  .list-item-inside {
    font-size: 14px;
    border-radius: 10px;
    margin-top: 40px;
    flex: 1 1 100px; /* Grow, shrink, and set a base width of 200px */
    min-width: 120px; /* Minimum width of each box */
    padding: 0px 0px 0px 0px;
    height: 41.5vh;
  }
  .minitag {
    font-size: 13.9px;
  }
  .btn-list {
    margin-top: -19px;
    width: 7.5rem;
    font-size: 11px;
  }
  #btn-courselast {
    margin-left: 35%;
  }
  #course-container {
    height: 100vh;
    margin-top: 0px;
    width: 100vw;
    margin-left: 0px;
    padding: 5px 0px 0px 0px;
    margin-bottom: 200px;
    /* margin-left: 30px; */
  }

  /* course container ends here*/

  /* icon with 4 container section*/
  #action-box-container {
    height: 300px;
  }
  .img-icon2 {
    height: 30px;
  }
  #boxicon-container-img {
    width: 100vw;
  }
  #list-items3 {
    padding: 70px 0px 0px 0px;
    margin-left: 1rem;
  }
  .list-item-inside2 {
    width: 23%;
    height: 150px;
    padding: 10px 10px;
    font-size: 10px;
    margin-left: 0px;
  }
  .heading-container {
    font-size: 13px;
  }
  /* icon with 4 container sections endshere*/

  /* events container begin*/
  #events-container {
    margin-top: 70px;
    margin-left: 5px;
    margin-right: 0px;
  }
  .img-class-events {
    height: 100px;
    width: 180px;
    border-radius: 8px;
  }
  #list-items-events {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    list-style: none;
    padding-left: 0px;
    padding-right: 0px;
  }

  .list-items-inside3 {
    flex: 1 1 140px; /* Grow, shrink, and set a base width of 200px */
    min-width: 140px; /* Minimum width of each box */
    text-align: center;
    height: 130px;
    border-radius: 8px 8px 5px 5px;
  }
  .tbh {
    display: inline;
    margin-right: 50%;
  }
  .tbh {
    display: inline;
    margin-right: 30%;
  }

  /*our event button css this is*/
  #event-btn {
    margin-left: 0px;
    margin-bottom: 10px;
    align-items: center;
    padding: 18px 11px;
    width: 38.4rem;
  }

  #btn-courselast2 {
    margin-top: 50px;
    margin-left: 31%;
    width: 15rem;
    font-size: 13.5px;
  }
  /*our event containers ends here*/

  /*testimional container begins here */

  #TESTIMONIAL-container {
    height: 300px;
    margin-bottom: 70px;
  }
  .TESTIMONIAL-img {
    width: 100vw;
    height: 300px;
    position: absolute;
  }
  #inside-test {
    position: relative;
    width: 600px;
    margin-left: 10px;
    padding: 30px 10px 10px 10px;
  }
  /* p tag*/
  .testi {
    font-size: 14px;
  }
  .tst {
    height: 60px;
    width: 60px;
    margin-left: 39%;
    margin-top: 30px;
  }
  /*h1 symnbol''*/
  .tor {
    font-size: 55px;
  }
  .testis {
    width: 200px;
    margin-left: 16%;
  }

  #changer {
    margin-top: 20px;
    font-size: 11px;
  }
  /*testimional container ends here */
  .certicates {
    height: 50px;
    cursor: pointer;
  }
  #sizechange {
    height: 200px;
    cursor: pointer;
  }

  #certificaiton-section {
    margin-top: 30px;
    width: 100%;
  }
  /*certificaiton-list-items*/

  #certificaiton-list-items {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 5px;
    padding-left: 10px;
    padding-right: 0px;
    margin-left: 0px;
  }

  #certificate-heading {
    margin-bottom: 10px;
  }

  #certicate-btn {
    color: black;
    text-decoration: underline;
    justify-content: center;
    margin-left: 49%;
    margin-bottom: 10px;
  }
  /* certification section ends here*/

  /*footer setion starts here*/

  .img-footer {
    height: 10px;
  }

  .follow-us {
    height: 20px;
  }

  #list-item-footer-section {
    padding: 10px 10px 10px 10px;
  }

  .list-item-inside-footer {
    height: 200px;
  }

  #footer-section {
    margin-top: 10px;
    background-color: black;
    width: 100vw;
  }

  /*footer-title*/
  .footer-title {
    font-size: 14px;
  }

  /*contact-footer*/

  .little-title {
    font-size: 10px;
  }

  .popular-links {
    line-height: 17px;
    font-size: 10px;
  }

  /*logo color*/
  #logos {
    margin-top: 10px;
    font-size: 20px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 450px) {
  #navbar > .list-items {
    display: none;
  }
  #navbar > #btne {
    display: none;
  }
  #navbar {
    width: 100vw;
  }
  #homepage {
    width: 100vw;
    height: 60vh;
    max-width: 450px;
  }
  #homepage img {
    height: 60vh;
    width: 100%;
    max-width: 450px;
  }
  .text-homepage {
    margin-bottom: 35%;
    margin-left: 10%;
    font-size: 11.5px;
  }

  .search-bar {
    margin-left: 25%;
    margin-bottom: 20%;
    width: 60vw;
  }

  #logo {
    padding-left: 20px;
  }
  .search-bar > input {
    width: 100%;
    font-size: 12px;
  }
  .imgcon {
    height: 30px;
    border-radius: 30px;
  }
  #three-container {
    top: 66%;
    margin-left: 20px;
  }
  .three-container-items {
    width: 30%;
    padding: 6px 6px;
    font-size: 10px;
  }
  /*about section below*/
  #about {
    margin-top: 60px;
    width: 100vw;
    height: 80vh;
    margin-bottom: 60px;
  }

  #notes-container {
    width: 100vw;
    height: 77vh;
    padding: 30px 20px 10px 10px;
  }

  #about-heading {
    font-size: 17px;
    margin-bottom: 10px;
    text-align: left;
  }
  #note-p {
    width: 95vw;
    font-size: 14px;
    text-align: start;
  }
  #btn-view {
    margin-top: 2%;
  }

  #img-class {
    display: none;
    /* margin-top: 44vh;
    margin-left: 49vw;
    height: 180px;
    width: 180px; */
  }

  /*course section*/

  .img-class-course {
    /* height: 140px;
    width: 258px; */
    width: 100%;
    height: 15vh;
    max-width: 100%;
    border-radius: 5px 5px 2px 2px;
  }
  .list-item-inside {
    font-size: 14px;
    border-radius: 10px;
    margin-top: 40px;
    flex: 1 1 150px; /* Grow, shrink, and set a base width of 200px */
    min-width: 150px; /* Minimum width of each box */
    padding: 0px 0px 25px 0px;
     height: 30vh;
  }
  .minitag {
    font-size: 13.9px;
  }
  .btn-list {
    display: none;
    margin-top: -5px;
    width: 9rem;
    font-size: 11px;
  }
  #list-items-course {
    gap: 10px;
  }

  #course-container {
    margin-bottom: 10px;
    height: 200vh;
    margin-top: 10px;
    width: 100vw;
    padding: 10px 10px 10px 10px;

    /* margin-left: 30px; */
  }
  #btn-courselast {
    display: block;
    margin-left: 25%;
  }
  /* course container ends here*/

  /* icon with 4 container section*/
  #action-box-container {
    margin-top: 0px;
    margin-bottom: 100px;
    height: 300px;
  }
  .hiding {
    display: none;
  }
  .img-icon2 {
    height: 39px;
  }
  #boxicon-container-img {
    width: 100vw;
  }
  #list-items3 {
    padding: 50px 20px 0px 0px;
  }
  .list-item-inside2 {
    width: 100%;
    height: 200px;
    padding: 10px 25px;
    font-size: 14px;
  }
  .heading-container {
    font-size: 14px;
  }
  /* icon with 4 container sections endshere*/

  /* events container begin*/
  #events-container {
    width: 100%;
    margin-left: 5px;
  }
  .img-class-events {
    height: 180px;
    width: 189px;
    margin-bottom: 4px;
  }

  .list-items-inside3 {
    height: 220px;
  }

  /*our event button css this is*/
  #event-btn {
    width: 98vw;
  }

  #btn-courselast2 {
    margin-left: 25%;
  }
  /*our event containers ends here*/

  /*testimional container begins here */

  #TESTIMONIAL-container {
    height: 300px;
    margin-bottom: 70px;
  }
  .TESTIMONIAL-img {
    width: 100vw;
    height: 300px;
    position: absolute;
  }
  #inside-test {
    position: relative;
    width: 350px;
    margin-left: 10px;
    padding: 0px 0px 0px 40px;
  }
  /* p tag*/
  .testi {
    font-size: 14px;
  }
  .tst {
    height: 60px;
    width: 60px;
    margin-left: 19%;
    margin-top: 30px;
  }
  /*h1 symnbol''*/
  .tor {
    font-size: 55px;
  }
  .testis {
    width: 200px;
    margin-left: 16%;
  }

  #changer {
    margin-top: 20px;
    font-size: 11px;
  }
  /*testimional container ends here */

  /*certificaiton-section*/
  .certicates {
    height: 50px;
    width: 6rem;
    cursor: pointer;
  }
  #sizechange {
    height: 99px;
    cursor: pointer;
  }

  #certificaiton-section {
    margin-top: 30px;
    width: 100%;
  }
  /*certificaiton-list-items*/

  #certificaiton-list-items {
    gap: 3px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
  }

  #certificate-heading {
    margin-bottom: 10px;
  }

  #certicate-btn {
    margin-left: 45%;
    margin-bottom: 10px;
  }
  /* certification section ends here*/

  /*footer setion starts here*/

  .img-footer {
    height: 10px;
  }
  .popu{
    display: none;
  }

  .follow-us {
    height: 20px;
  }

  #list-item-footer-section {
    padding: 50px 10px 20px 10px;
  }

  .list-item-inside-footer {
    height: 200px;
  }

  #footer-section {
    margin-top: 10px;
    background-color: black;
    width:100vw;
  }

  /*footer-title*/
  .footer-title {
    font-size: 14.5px;
  }

  /*contact-footer*/

  .little-title {
    font-size: 10px;
  }

  .popular-links {
    line-height: 24px;
    font-size: 12px;
  }

  /*logo color*/
  #logos {
    font-size: 20px;
    margin-left: 10px;
  }
}
