
/* UNIVERSAL ELEMTNT*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/* NAVBAR ELEMENT*/

#navbar{
    display: flex;
    height: 55px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: black;
    color: white;
    
}

#logo{
    padding-left: 80px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
/*log hover color below*/
#cod:hover{
    color: rgb(229, 229, 25);
    transition: all 0.3s ease 0s;
    }
    #log:hover{
    color: aqua;
    transition: all 0.3s ease 0s;
    }
.list-items{
    list-style: none;
    padding-left: 280px;
    font-size: 13px;

}

.list-items li{
    display: inline-block;
    padding: 0px 20px;
}
a{
    transition: all 0.3s ease 0s;
}

 a:hover{
    color: aqua;
}

#btne{
    padding-right: 100px;
}

#btnr{
    background-color: rgb(134, 124, 124);
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    width: 10.5rem;
    font-size: 12px;
    cursor: pointer;
}
#btnr{
    transition: all 0.3s ease 0s;
}
#btnr:hover{
    color: aqua;
    background-color: rgb(96, 82, 82);
}

a{
    color: white;
}

/*homepage image and input and stuffs*/

#homepage{
    position: relative;
}

#homepage img{
    width:100%;
    height: 91.7vh;

}


.text-homepage{
position: absolute;
bottom: 0;
color: #d4d0db;
border: black 10px;
padding-left: 350px;
padding-bottom: 200px;
font-weight: bold;
font-size: 18px;
}
h1{
    text-align: center;
}