
/* UNIVERSAL ELEMTNT*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/* NAVBAR ELEMENT*/

#navbar{
    display: flex;
    height: 55px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: black;
    color: white;
    
}

#logo{
    padding-left: 80px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
/*log hover color below*/
#cod:hover{
    color: rgb(229, 229, 25);
    transition: all 0.3s ease 0s;
    }
    #log:hover{
    color: aqua;
    transition: all 0.3s ease 0s;
    }
.list-items{
    list-style: none;
    padding-left: 280px;
    font-size: 13px;

}

.list-items li{
    display: inline-block;
    padding: 0px 20px;
}
a{
    transition: all 0.3s ease 0s;
}

 a:hover{
    color: aqua;
}

#btne{
    padding-right: 100px;
}

#btnr{
    background-color: rgb(134, 124, 124);
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    width: 10.5rem;
    font-size: 12px;
    cursor: pointer;
}
#btnr{
    transition: all 0.3s ease 0s;
}
#btnr:hover{
    color: aqua;
    background-color: rgb(96, 82, 82);
}

a{
    color: white;
    text-decoration: none;
}

/*homepage image and input and stuffs*/

#homepage{
    position: relative;
}

#homepage img{
    width:100%;
    height: 91.7vh;

}


.text-homepage{
position: absolute;
bottom: 0;
color:#fff;
border: black 10px;
margin-left: 350px;
margin-bottom: 312px;
font-weight: bolder;
font-size: 18px;
}
h1{
    text-align: center;
}

.search-bar{
    position: absolute;
    bottom: 0;
    margin-left: 425px;
    margin-bottom: 250px;
     display: flex;
     width: 35vw;
     border-radius: 10px;
     background-color: white;
     align-items: center;
    justify-content: flex-start;
    padding: 11px 0
}

.search-bar input{
    outline: none;
    border: none;
    width: 50%;
    padding-left: 13px;
    font-size: 15px;
    cursor: pointer;
}
.search-bar p{
    color: gray;
    border-right: 1px solid gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding-left: 3px;
    padding-right: 10px;
    padding-bottom: 3px;
    cursor: pointer;
}
/* three conatiner below homepage sticy mmode*/

.imgcon{
    height: 50px;
    border-radius: 30px;
}
 #three-container{
    margin-left: 430px;
    position: absolute;
    top: 90%;
} 
/* #list-items2{
    
    gap: 10px;
    display: flex;
    width: fit-content;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 100px;
    background-color: rgb(216, 193, 193);
    
}

#list-items2 li{
    display: flex;
    align-items: center;
    list-style: none;
    width: 300px;
    padding: 40px 40px;   
} */

#list-items2{
    display: flex;
    gap: 10px;
    list-style: none; 
    padding: 0;
    margin: 0;
    
}

  .three-container-items{
    display: flex;
    gap: 4px;
    align-items: center;
    width: 30%;
    background-color: rgb(246, 238, 238);
    padding: 28px 10px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
   
}
#list-items2 li:hover{
    transition: all 0.3s ease 0s;
    color: rgb(58, 60, 53);
    background-color:#fff;  
}
/* home page and three containers ends here*/

/*about section*/

#about{
    margin-top: 100px;
    display: flex;
}

#notes-container{
    position: relative;
    width: 70%;
    height: 450px;
    background-color: #E8E8E8;
    padding: 50px 100px 0px 40px;
    text-align:left;
    border-radius: 4px;
    padding-left: 100px;
}

#about-heading{
  margin-bottom: 15px;
  text-align: left;
}
#note-p{
text-align: left;
padding-right:80px;
font-size: 15.5px;
}

#img-class{
    position: absolute;
    margin-top: 30px;
    margin-left: 750px;
    height: 380px;
    width: 450px;
    border-radius: 10px;
}
#btn-view{
    background-color: rgb(1, 0, 0);
    color: white;
    padding: 8px 8px;
    border-radius: 9.5px;
    border: none;
    width: 6rem;
    font-size: 10px;
    cursor: pointer; 
    margin-top: 44px;
}
#btn-view:hover{
    transition: all 0.3s ease 0s;
    color: aquamarine;
    background-color: rgb(54, 51, 49);
}
/*about section end here*/



/*course section*/

.img-class-course{
    /* height: 140px;
    width: 258px; */
    width: 100%;
   height: 140px;
   max-width: 100%;
   border-radius: 5px 5px 2px 2px;
}

#course-container{
    margin-top: 50px;
    width: 99%;
    padding: 10px 90px 10px 90px;
    margin-left: 10px;
}
#list-items-course{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    list-style: none;
}
.list-item-inside{
    cursor: pointer;
    font-size: 14px;
    border-radius: 10px;
    margin-top: 40px;
    flex: 1 1 240px;            /* Grow, shrink, and set a base width of 200px */
    min-width: 200px;           /* Minimum width of each box */
    padding: 0px 0px 25px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;
    height: 280px;
}
.list-item-inside:hover{
    transition: all 0.3s ease 0s;
    background-color: rgb(225, 216, 216);
}


.p-tag{
    margin-top: 10px;
    padding-left:7px ;
    padding-right: 7px;
    padding-bottom: 16px;
}
h3{
    text-align: center;
}
.btn-list{
    margin-top: 15px;
    background-color: rgb(138, 135, 135);
    color: white;
    padding: 11px 11px;
    border-radius: 6px;
    border: none;
    width: 15rem;
    font-size: 13.5px;
    cursor: pointer; 
}
.btn-list:hover{
    transition: all 0.3s ease 0s;
    background-color: rgb(1, 0, 0);
}

#btn-courselast{
    margin-top: 30px;
    margin-left: 39%;
    align-items: center;
    color: rgb(244, 237, 237);
    padding: 11px 11px;
    border-radius: 6px;
    border: none;
    width: 15rem;
    font-size: 13.5px;
    cursor: pointer; 
    background-color: rgb(138, 135, 135);
}
#btn-courselast:hover{
    transition: all 0.3s ease 0s;
    background-color: rgb(1, 0, 0);
}

/* course container ends here*/

/* icon with 4 container section*/

#action-box-container{
    margin-bottom: 30px;
    margin-top: 30px;
    height: 300px;
}
.img-icon2{
    filter: invert();
    height: 45px;
}
#boxicon-container-img{
    position: absolute;
    width: 100%;
    height: 300px;
}
#list-items3{
    position: relative;
    display: flex;
    gap: 14px;
    list-style: none; 
    padding: 70px 80px 0px 70px;
    margin-left: 20px;
    
}
.list-item-inside2{
    opacity: 0.9;
    gap: 4px;
    align-items: center;
    width: 25%;
    height: 160px;
    background-color: rgb(93, 90, 90);
    padding: 20px 20px;
    border-radius: 6px;
    font-size: 13px;
    color: white;
    cursor: pointer;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    word-spacing: 3px;
}
.heading-container{
    color: rgb(249, 251, 252);
    font-size: small;
    font-weight: bolder;
    margin-top: 2px;
    margin-bottom: 8px;
}
.list-item-inside2:hover{
    transition: all 0.3s ease 0s;
    opacity: 1;
}
.list-item-inside2:hover>.img-icon2{
    transition: all 0.3s ease 0s;
    filter: invert(0);
}


/* icon with 4 container sections endshere*/


/* events container begin*/
#events-container{
    margin-top: 70px;
 margin-left: 30px;
 margin-right: 50px;
}
.img-class-events{
    height: 310px;
    width: 370px;
    border-radius:8px;
}
#list-items-events{
        display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding-left: 40px;
}

.list-items-inside3{
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: 14px;
    flex: 1 1 240px;            /* Grow, shrink, and set a base width of 200px */
    min-width: 200px;           /* Minimum width of each box */
    text-align: center;
    height: 340px;
    border-radius: 8px 8px 5px 5px;
}
 .tbh{
    display: inline;
    margin-right: 50%;
} 

.list-items-inside3:hover{
background-color: rgb(208, 214, 211);
transition: all 0.3s ease 0s;
}

/*our event button css this is*/
#event-btn{
    margin-left: 40px;
    margin-bottom: 10px;
    align-items: center;
    color: rgb(244, 237, 237);
    padding: 18px 11px;
    border-radius: 6px;
    border: none;
    width: 71.5rem;
    font-size: 13.5px;
    cursor: pointer; 
    background-color: rgb(1, 0, 0);
}

#event-btn:hover{
    transition: all 0.3s ease 0s;
    background-color: rgb(138, 135, 135);
}

#btn-courselast2{
    margin-top: 50px;
    margin-left: 41%;
    align-items: center;
    color: rgb(244, 237, 237);
    padding: 11px 11px;
    border-radius: 6px;
    border: none;
    width: 15rem;
    font-size: 13.5px;
    cursor: pointer; 
    background-color: rgb(1, 0, 0);
}


#btn-courselast2:hover{
    transition: all 0.3s ease 0s;
    background-color: rgb(138, 135, 135);
}
/*our event containers ends here*/

/*testimional container begins here */

#TESTIMONIAL-container{
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.TESTIMONIAL-img{
    width: 100%;
    height: 400px;
    position: absolute;
}
#inside-test{
    position: relative;
    padding: 50px;
}
/* p tag*/
.testi{
    font-size: 25px;
    color: #fff;
    text-align: center;
    text-decoration: solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tst{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: 39%;
    margin-top: 30px;
   
}
/*h1 symnbol''*/
.tor{
    font-size: 100px;
    font-weight:bolder;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.testis{
  width: 200px;
  display: flex;
  color: #ffffff;
 gap: 10px;
 align-items: center;
 margin-left: 35%;
}

#changer{
    margin-top: 20px;
    font-size: 10px;
}
/*testimional container ends here */

/* ----***---*/



/*certifcate container begins here */
/*certificaiton-section*/
/*img of certificate container*/
.certicates{
  height: 60px;
  cursor: pointer;
}
#sizechange{
    height:200px;
    cursor: pointer;
    
}



#certificaiton-section{
margin-top: 30px;
width: 100%;

}

/*certificaiton-list-items*/

#certificaiton-list-items{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 10px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 100px;
    
}

.inside-certficate-list{
    width:100%;
    justify-content: space-between;

}

#certificate-heading{
    margin-bottom: 10px;
}

#certicate-btn{
    color: black;
    text-decoration: underline;
    justify-content: center;
    margin-left:49% ;
    margin-bottom: 10px;
}
/* certification section ends here*/

/*footer setion starts here*/

.img-footer{
    height: 15px;
    filter: invert();
}

.follow-us{
    height: 30px;
    filter: invert();
}

.follow-us:hover{
    cursor: pointer;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(90deg) brightness(1.2);
}

#list-item-footer-section{
  padding: 50px 80px 50px 80px;
    align-items: center;
    color: white;
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
}

.list-item-inside-footer{
    cursor: pointer;
    height: 200px;
    align-items: center;
}

#footer-section{
    margin-top: 10px;
    background-color: black;
}

/*footer-title*/
.footer-title{
    margin-bottom: 20px;
    font-size: 14px;
    color: #ccc;
    margin-top: 0;
}

/*contact-footer*/

 .inline-text{
  display: inline-block;
  vertical-align: middle;
}

.little-title{
    line-height: 14px;
    text-align: center;
    color: #ccc;
    font-size: 13px;
}

.popular-links{
    line-height: 24px;
    font-size: 14px;
    font-family:sans-serif;
}
.popular-links:hover{
    color: yellow;
}

/*logo color*/
#logos{
    font-size: 30px;
    padding-left: 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
/*log hover color below*/
#cods:hover{
    color: rgb(229, 229, 25);
    transition: all 0.3s ease 0s;
    }
    #logs:hover{
    color: aqua;
    transition: all 0.3s ease 0s;
    }