@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
     font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;   
    
}
 
html{
  width: 100%;
  overflow-x:hidden;
}


 body{
    background-color:#0A0A0A;
    color: white;
    overflow-x: hidden;
 }

 .yellow-text{
  font-size: clamp(0.8rem,3vw,1.6rem);
  background: linear-gradient(to right,#D4DC35, #F6FF3D, #B2B82F);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.white-text{
  font-size: clamp(0.8rem,3vw,1.6rem);
}


.title-tag-wrapper{
  max-width: 500px;
  margin: 0 auto;
}

.title-tag-sections{
  padding-left: 35%;
   background: linear-gradient(to right,#D4DC35, #F6FF3D, #B2B82F);
   background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title-tag-sections-line{
  background: linear-gradient(to right,#D4DC35, #F6FF3D, #B2B82F);
     display: block;
  height: 1.4px;
  width: 100%;
}