@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
     font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;   
}
 
html{
  width: 100%;
  overflow-x:hidden;
}


 body{
    background-color:#0A0A0A;
    color: white;
    overflow-x: hidden;
 }

 .yellow-text{
  font-size: clamp(0.8rem,3vw,1.6rem);
  background: linear-gradient(to right,#D4DC35, #F6FF3D, #B2B82F);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  
}

.white-text{
  font-size: clamp(0.8rem,3vw,1.6rem);
  cursor: pointer;
}


.title-tag-wrapper{
 max-width: 600px;      /* slightly larger */
  margin: 0 auto;
  text-align: center; 
}

.title-tag-sections{
  text-align: center;
  display: inline-block; 
  padding-left: 0; 
   background: linear-gradient(to right,#D4DC35, #F6FF3D, #B2B82F);
   background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title-tag-sections-line{
  background: linear-gradient(to right,#D4DC35, #F6FF3D, #B2B82F);
     display: block;
  height: 1.4px;
  margin: 0 auto;        /* center the line */
  width: 90%;
}

 /* .no-scroll{
overflow: hidden;
  position: fixed;  
  width: 100%;     
  height: 100%;     
  top: 0;
  left: 0;
}  */

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  left: 0;
}