.slider-maincontainer{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}


.slider-project-main-container{
height: 400px;
width: 250px;
padding: 10px 10px 10px 10px;
border: solid 1px  #BEBEBE ;
position: relative;
}

.slider-project-main-container ::before{
content: "";
position: absolute;
top: -33px;
left: 0px;
width: 250px;
height: 31px;
background: #2D2D2D3D;
border: solid 1px #BEBEBE;
clip-path: polygon(
    0% 100%,
    20% 0%,
    80% 0%,
    100% 100%
);
}

.slider-inside-small-container{
    height: 100%;
    width: 100%;
   
}

.project-image{
    height: 100%;
    width: 100%;
     border-radius: 2.5%;
}


