
@media( max-width:767px){

.title-tag-wrapper{
 max-width: 90%;
}

.title-tag-sections{
  font-size: clamp(1.2rem, 4vw, 1.6rem);
}

  .title-tag-sections-line{
 width: 85%;

}
/*popup joker*/
.overlay-inside-container{
flex-direction: column;
text-align: center;
}

.joker-popup{
max-width: 80%;
margin: 0 auto;
}
.popup-text {
    font-size: clamp(34px, 6vw, 50px);  
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 40px;
    z-index: 1002;
  }


/*navbar below*/
.logo-icon{
    width: 150px;
    height: auto;
}

.dark-btn{
    width:80px;
   
}

.menu-icon{
    width: 59.24px;
    margin-bottom: 6px;
}

/*nabar ends*/

/*hero starts*/
.hero-section{
  height:100%;
  margin-bottom:60px;
}

.murali-logo{
  height: 150px;
  object-fit: cover;
}
.title-hero{
   font-size: clamp(1.4rem, 3.5vw, 2rem);
}
.mob-txt{
  font-size: clamp(1rem, 2.8vw, 1.4rem);
}

.two-div-mainwrapper {
  margin-top: 20px;
  margin-left: 6%;
  display: flex;
  flex-direction: column;
}


.hero-action{
  position: absolute;
  left: 310px;
  z-index: 5;
}
.third-box-div {
  position: relative;
  display: flex;
  width: 250px;
top: 0;
right: 0;
left: 150px;
}


.btn-hero , .btn-hero2{
 width: 7rem;
}

.icons-apps{
  width: 57px;
}

/*hero ends*/


/*about starts*/

.About-section{

padding-top: 100px;
}



/*slide1*/
.slide-inside-container{
 padding: 30px 10px 10px 10px;
  width: 80%;
   line-height: 1.3rem;

}

.text-1{
  padding: 2px 0px 2px 0px;

}
.bullet-yellow{
   padding-left: 20px;
   padding-top: 3px;
}

.text-3{
  padding-top:5px ;
   padding-left: 30px;
}
.text-4{
   padding-left: 40px;
}

.bottom-batman{
  padding-top: 30px;
   margin-left: 100px;
}

/*slide2*/

.boxing-img-about{
  height: 150px;
}

.inner-swiper-slide{
  margin-top:22px;
  margin-left:0px;
  padding-right: 70px;
  height: 150px !important;

}

.inner-pagination-about2{
bottom: -120px !important;
 width: 100px !important;
 margin-left: 15px;
  border-radius: 20px;

}
.inner-pagination-about2 .my-inner-bullet-active {
  width: 12px;
}
.inner-pagination-about2 .my-inner-bullet {
width: 12px;
}
.slide2-about-flex{
text-align: center;
}

   .slide2-about-flex2{
    bottom: 0;
   left: 17%;
   height: 150px;
  
  }

   .slide2-about-flex3{
  /* width: 170px;
  height: fit-content; 
  right: 1px; */
  display: none;
  
  }
  .swiper-pagination {
  margin-left: 40% !important;
  bottom: 2px !important;
  }

/*slide 3 below*/
.innerline{
  width: 50px;
}

.innerline-top-right{
right: 16%;
}

.innerline-top-left{
 left: 16%;
}
.innerline-bottom-left{
left: 16%;
}

.innerline-bottom-right{
right: 16%;
}

.cinema-img{
width: 100%;
height: 100%;
top: 0;
}
.cinema-text{
  width: 250px;
  left: 45px;
  text-align: center;
}
.battery-icon{
height: 20px;
right: 52px;
top: 50px;
}

.recorder-icon{
 left: 52px;
 height: 28px; 
 top: 50px;
}

.plus-sign{
left: 48%;
}

/*about ends above*/

/*skills section below */
.skill-image-group-of-six {
  padding: 100px 10px 0px 10px;
bottom: 0;

}

.skill-image-left,.skill-image-right {
width: 150px;

}/*skills above ends*/


/*portfolio mainmg section*/

.hori{
  margin-left: 5%;
}

.desktop-only{
  display: none;
}

.mobile-only{
  display: block;
}

/* portfolio sections end here*/







/*contact form jan13 time 9:40pm*/

.contact-heading-mob{
  padding-left: 24%;
}
  .contact-section-main{
    min-height: auto; /* VERY IMPORTANT */
    height: auto;
    padding-top: 80px;
  }

  .section-wrapper{
    padding-left: 0;   /* RESET DESKTOP VALUE */
    padding-top: 20px;
    height: auto;
  }

form{
  place-content: center;
  position: relative;
  left:0px;
  width: 100%;
}
form h2{
   font-size: 19px;
}
.form-yellow{
  font-size: 19px;
}

.form-logo-img{
display: none;
} 


.btn-form{
    display: none;

}
/*below footer section*/

  .footer-container{
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .footer-logo{
    margin-right: 170px;
    width: 200px;
    height: auto;
  }

  .bottom-menu-items{
    flex-direction: column;
    margin-left: 0;
    padding-bottom: 20px;
  }

  .footer-list{
    flex-direction: row;
    min-width: auto;
    gap: 10px;
    align-items: center;
  }

  .social-media-footer{
    padding-right: 0;
    justify-content: center;
  }
  .footer-icon{
    height: 4rem;
  }
  .footer-link{
font-size: clamp(1rem, 2.8vw, 1.4rem);
}

}

@media (min-width:768px) and (max-width:1023px){

  
  .title-tag-wrapper {
    max-width: 80%;
  }

  .title-tag-sections-line {
    width: 90%;
  }
.hori{
  margin-left: 15%;
}
 


/*popup joker*/
.overlay-inside-container{
flex-direction: column;
text-align: center;
justify-content: center;
}

.joker-popup{
max-width: 80%;
margin: 0 auto;
}
.popup-text {
    font-size: clamp(42px, 5vw, 80px);  
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 40px;
    z-index: 1002;
  }

/*navbar below*/
.logo-icon{
    width: 210px;
    height: auto;
}

.dark-btn{
    width: 100px;
   
}

.menu-icon{
    width: 74.05px;

}
/*nabar ends*/

/*hero starts*/
.hero-section{
  height:100%;
  margin-bottom:20px;
}

.murali-logo{
  height: auto;
}

.two-div-mainwrapper{
    margin: 15px auto 0 40px;
  width: 95%;
}


.third-box-div {
  position: absolute;
  top: 165px;
  right: 0px;
  width: 296px;     /* tablet size */
}
.hero-action{
  left:350px;
}
.btn-hero , .btn-hero2{
  width: 8rem;
}

.icons-apps{
width: 65px;
}

/*hero ends*/

/*about starts*/

.About-section{
padding-top: 100px;
}
/*slide1*/
.slide-inside-container{
   padding: 30px 20px 8px 30px;
  width: 95%;
}
.bottom-batman{
margin-left: 40%;
}
/*slide2*/
   .slide2-about-flex2{
  margin-left: -30px; 
  }

.inner-pagination-about2{
  margin-left: 50px;
}
   .slide2-about-flex3{
    width: 450px;
    right: 0;
   }
/*slide 3 below*/


.cinema-img{
  width: 100%;
  height: 100%;
  top: 0;
}
.cinema-text{
 text-align: center;
  width: 100%;
  max-width: 680px;


}

.battery-icon{
height: 25px;
top: 45px;
}
.recorder-icon{
top: 45px;
}
  .swiper-pagination {
    margin-left: 42% !important;
      bottom: 2px !important;
  }
  /*about ends above*/


  /*project section*/

 .slider-maincontainer{
margin: 0 auto;
}


.slider-project-main-container{
  height: 350px;
  width: 240px;
}
/*project section ends here*/

/*footer section here*/

  .inside-footer-container {
      max-width: 100%;
      padding: 10px;
  }


  .footer-logo {
      width: 250px;    
      height: auto;
  }

  .bottom-menu-items {
      margin-left: 0;   
      padding-bottom: 20px;
  }

  .footer-list {
      min-width: auto;   
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
  }

  .social-media-footer {
      padding-right: 0; 
    
  }

  .last-social-items {
      min-width: auto;
      padding-right: 70px;
      
  }
  .footer-icon{
    height: 3.5rem;
    padding-left: 15px;
  }



}


@media (min-width:800px) and (max-width:900px) {

  .third-box-div {
    top: 165px;
    width: 320px;
  }

}

/* for desktop sizes*/
@media (min-width:1024px) and (max-width:1200px){


.joker-popup{
max-width: 90%;
margin: 0 auto;
}

/*hero section*/

  .third-box-div{
    right: 0;
   top: 95px;
   width: 406px;
  }
  .hero-action{
  right: 0;
}
/*hero section ends*/

}



@media(max-width:380px){

  /*hero section*/
   .two-div-mainwrapper {
       margin-left: 3%;
   }
   .third-box-div{
    left: 120px;
   }

   .hero-action{
   left: 300px;
     bottom: 65px;
     text-align: center;
   }

   .btn-hero, .btn-hero2 {
       width: 6rem;
      
   }

   .icons-apps {
       width: 48px;
   }

  /* hero section ends*/

   /*about starts*/

/*slide1*/
   .bottom-batman{
  margin-left: 80px; 
  }
/*slide 3 below*/
.cinema-text{
left: 30px;
}


   /* footer section starts*/

   .footer-list {
       gap: 5px;
       font-size: 14px;
   }

   .footer-icon {
       height: 3rem;
   }

}

@media (max-width:360px){

  
/*navbar below*/
.logo-icon{
    width: 130px;
    height: auto;
}
.dark-btn{
  width: 70px;
   
}
.menu-icon{
    width: 49.24px;
    margin-bottom: 6px;
}
/*nabar ends*/

/*hero starts*/
.murali-logo{
height: 120px;
}

.third-box-div{
  width: 200px;
left: 120px;
}
.hero-action{
bottom: 50px;
}

.btn-hero , .btn-hero2{
 width: 5.5rem;
  height: 3rem;
}
.btn-hero2{
  right: 114px;
}
/*hero ends*/

/*about starts*/
.About-section{

padding-top: 20px;
}
/*slide1*/
.bottom-batman{
margin-left: 50px;
}
/*slide2*/
.boxing-img-about{
height: 110px;
}
.inner-swiper-slide{
  margin-top: 30px;
margin-left: 6px;
 height: 135px !important;
}
 .swiper-pagination {
  margin-left: 35% !important;
  
  }
  /*slide 3 below*/
  .cinema-text{
  width: 200px;
  }
/*about ends above*/
.portoflio-heading-mob1{
  padding-left: 30%;
}

/*skills section below */
.skill-image-group-of-six {
  padding: 100px 5px 0px 5px;
bottom: 0;
}

.skill-image-left,.skill-image-right {
width: 130px;

}/*skills above ends*/

/*contact below*/

.contact-heading-mob{
  padding-left: 12%;
}
.btn-submit-form{
  margin-left: 45px;
}
/*contact ends*/


}