@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* universal style*/
*{
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
    color: white;
}

/* home div */
#home-page{
    width: 100%;
    height: 100vh;
}

.home-page-main{
 position: absolute;
 margin-top: 40px;
 padding-left: 50px;
 width: 90%;
}

.img-herosection{
    width: 100%;
    position: absolute;
}

.navbar-items{
    position: relative;
    display: flex;
    justify-content: space-between;
   align-items: center;
}

.navbar-inners{
    padding-left: 90px;
   
}

.logo:hover{
 cursor: pointer;
 transition: 0.5s ease-in-out;
 transform: scale(1.05);
}
.navbar-inner{
    margin-left: 50px;
    width: 40%;
}
.list-items{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
}

.list-inner-items:hover{
    cursor: pointer;
    color: white;
    text-decoration-line: underline;
    text-underline-offset: 6px;
    line-height: 13px;
    transition: 0.5s ease-in-out;
   transform: scale(1.05);
}

.white-borderbox-hero{
    position: relative;
    border: white solid 2px;
    width: fit-content;
    font-size:70px;
    margin-left: 90px;
    margin-top: 100px;
    padding: 20px 60px 10px 30px;
    
}

.white-borderbox-hero:hover{
    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: scale(1.05);
   }

   /* home hero section ends here*/

   /* about section starts here*/
#about-section{
    height: 100vh;
    width: 100%;
}

.about-inner-main{
 padding-left: 80px;
 padding-right: 20px;
    width: 90%;
}
.about-image-section{
    position: absolute;
}

.about-box-words{
    background: white;
    position: relative;
    width: 420px;
    float: right;
    right: 30px;
    bottom: -200px;
    padding: 50px 50px 50px 50px;
    height: 200px;
    
}
.abt-h1{
    color: rgb(143, 132, 132);
    margin-bottom: 40px;
    /* font-family:"Cutive Mono", serif; */
    font-family: Alata, serif;
}
.abt-p{
    color: rgb(63, 61, 61);
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;
}

/* about section ends here*/

/* creation section starts here*/

#creations-section{
    height: 170vh;
    width: 100%;
    margin-bottom: 20px;
}

.creations-main-inner{
    width: fit-content;
    padding-left: 80px;
    height: 100vh;
}
.two-element-nav{
    display: flex;
    justify-content:space-between;
    width: 100%;
    margin-bottom:40px ;
}

.abt-h1-creation{
    font-size: 3rem;
    color: rgb(143, 132, 132); 
    /* font-family:"Cutive Mono", serif;  */
    font-family: Alata, serif;
}

.btn-see-all{
    color:black;
    background-color: white;
    border-radius: 5%;
    height: 3rem;
    width: 8rem;
    border: solid black 1px;
}

.btn-see-all:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    border: solid white 1px;
    transition: all 0.3s ease 0;
}

.list-inner-items-creations{
    width: 100%;
    height: 90vh;
    justify-content: center;
}

 .list-creation{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    padding: 0;
}
 .list-creation-inner{
    position: relative;
    width: fit-content;
 flex-direction: column;
 overflow: hidden;
 
}

.CREATION-TXT{
    bottom: 20px;
    font-size: 2rem;
    left: 20px;
    position: absolute;
    color: rgb(219, 215, 215);
    
}

.list-creation-inner:hover{
    cursor: pointer;
    /* transform: translate( 1);
    transition: all ease-out 0.3s; */
    transition: 0.5s ease-in-out;
    transform: scale(1.05);
    filter: grayscale(100%);
    filter: contrast(80%);
}

/* creation section ends here*/

/* footer  section starts here*/

#footer-section{
    background-color: black;
    margin-top: 50px;
    height: 30vh;
}

.footer-main-inner{
    padding-top: 50px;
    padding-left:50px;
    padding-right: 50px;
}

.svg-imgs{
    height: 30px;
    filter: invert();
}
.svg-imgs:hover{
    cursor: pointer;
    color: white;
    text-decoration-line: underline;
    text-underline-offset: 6px;
    line-height: 3px;
    transition: 0.5s ease-in-out;
   transform: scale(1.05);

}

.footer-top-2-div{
    display: flex;
    justify-content: space-between;
}
.footer-top-2-div-side{
    display: flex;
    justify-content: space-around;
    width: 300px;
}

.footer-bottom-2-div{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.footer-bottom-copyright{
    font-size: 8px;
}

.ft-h1{
font-family: sans-serif;
color: rgb(158, 161, 164);
}

.ft-nav{
    padding-left: 0px;
    margin-left: 0px;
}

/* footer  section ends here*/

/* mobile size  starts here*/
.img-mobile-hero{
    display: none;
}
.hamburger{
    display: none;
}


/* media query starts here*/

  


@media screen and (max-width:600px)  {
    .img-herosection{
        display: none;
    }
    .hamburger{
        height:19px;
        display: block;
        padding-left:  60px;
    }
    .navbar-inners{
        padding-left: 10px;
       
    }

    .home-page-main{
        margin-top: 40px;
        padding-left:20px;
        padding-right: 20px;
        width: 90%;
       }
    .img-mobile-hero{
        display: block;
        position: absolute;
        width: fit-content;
        height: 100vh;
    }

    .list-items{
       display: none;
    }
    .white-borderbox-hero{
        font-size:40px;
        margin-left: 10px;
        margin-top: 5em;
        padding: 20px 20px 20px 20px;
        
    }

    #about-section{
        display: none;
    }
    #creations-section{
        display: none;
    }
    #footer-section{
        display: none;
    }
}