.horizontal-wrapper{
    height: 100vh;
    height: 100dvh;
    overflow-x: hidden;
}

.horizontal{
    display: flex;

}
.slides{
   width: 100vw;
   height: 100vh;
   height: 100dvh; 
   flex-shrink: 0;
}

.image-scrl{
    width: 100%;
    height: 100%;
    object-fit: cover;
  object-position:  center;
    display: block;
}