*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Main-container{
    height: 100vh;
    display: grid;
    width: 100%;
    margin: 0 ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'hero-1 hero-1 hero-2'
                          'hero-3 hero-4 hero-5' ;
                        
}
/* grid allocation */
.image-top{
     grid-area: hero-1; border: solid red;
     height: 28.5rem;
}

.discription-top-right{grid-area: hero-2; border: solid red;}
.image-bottom-left{ grid-area: hero-3;border: solid red;}
.discription-bottom-center{grid-area: hero-4; border: solid red;}
.bottom-right-img{grid-area: hero-5; border: solid red;}


.hero-image1{
height: 28.5rem;
width: 100%;
object-fit: cover;
}

.nav-items{
position: absolute; 
}