.hero-section{
    width: 100%;
    height: 100vh;
}


.hero-sectionWrapper{
   height: 100vh;
   max-width: 1200px;
   margin: 0 auto;
   margin-top: 120px;
}

.murali-logo{
    height: 350px;
    width: 100%;
    object-fit:scale-down;
}
