@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
}

.hero-section {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero-sectionWrapper {
  height: fit-content;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 120px;
  position: relative;
  z-index: 1;
}

.title-wrapper{
    position: relative;
   
}

.murali-logo {
  height: 350px;
  width: 100%;
  object-fit: scale-down; /* it is awesome*/
  position: relative;
  z-index: 2;
}
/* .batman-logo-main{
} */
.batman-logo-hero {
  height: 480px;
  bottom:-200px;
  position: absolute;
  right: 120px;
  z-index: 3;
  filter: none;
  background: transparent;
}

.two-div-mainwrapper {
  display: flex;
  margin-left: 13.3%;
}

.title-container {
  width: fit-content;
}

.icons-hero {
  margin-top: 12px;
}

.icons-hero > img {
  padding: 5px;
}
