@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
}

.hero-section {
  width: 100%;
  height: fit-content;
  position: relative;
  padding-top: 120px;
}

 .hero-section video{
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}


.hero-sectionWrapper {
  height: fit-content;
  max-width: 1200px;
  margin: 0 auto;
  /* margin-top: 120px; */
  position: relative;
  z-index: 2;
}

.title-wrapper{
    position: relative;
   
}

.murali-logo {
  height: 350px;
  width: 100%;
  object-fit: scale-down; /* it is awesome*/
  position: relative;
  z-index: 3;
}

/*text-container below */

.title-hero{
 font-size: clamp(1rem,3vw,3rem);
}

.yellow-text{
  font-size: clamp(0.8rem,3vw,1.6rem);
  background: linear-gradient(to right,#D4DC35, #F6FF3D, #B2B82F);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.white-text{
  font-size: clamp(0.8rem,3vw,1.6rem);
}


.batman-logo-hero {
  height: 550px;
  bottom:-300px;
  position: absolute;
  right: 120px;
  z-index: 4;
  filter: none;
  background: transparent;
}

.two-div-mainwrapper {
  display: flex;
  margin-left: 13.3%;
}

.title-container {
  width: fit-content;
}

.icons-hero {
  margin-top: 12px;
}

.icons-hero > img {
  padding: 5px;
}
