
/*maincontainer*/
.hero-section {
  width: 100%;
  height: fit-content;
  position: relative;
  padding-top: 120px;
}

/*maincontainer video */
 .hero-section video{
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
/* second maincontainer*/

.hero-sectionWrapper {
  height: fit-content;
  max-width: 1200px;
  margin: 0 auto;
  /* margin-top: 120px; */
  position: relative;
  z-index: 2;
}

.title-wrapper{
    position: relative;
   
}

.murali-logo {
  height: 350px;
  width: 100%;
  object-fit: scale-down; /* it is awesome*/
  position: relative;
  z-index: 3;
}

/*text-container below */

.title-hero{
 font-size: clamp(1rem,3vw,3rem);
}




.batman-logo-hero {
  height: 550px;
  bottom:-293px;
  position: absolute;
  right: 120px;
  z-index: 4;
  filter: none;
  background: transparent;
}

.btn-hero{
  position: absolute;
  bottom: -293px;
  right: 225px;
  z-index: 5;
  width: 8rem;
  height: 4rem;
  border-radius: 8px;
 border:solid  #424242 ;
  color: white;
  font-size: clamp(1.5rem,3vw,1.8rem);
  opacity: 0.7;
  background-color: #2D2D2D;
   transition: all 0.3s ease-in-out;

}
.btn-hero2{
    position: absolute;
  bottom: -293px;
  right: 70px;
  z-index: 5;
   width: 8rem;
  height: 4rem;
  border-radius: 8px;
 border:solid  #424242 ;
  color: white;
  font-size: clamp(1.5rem,3vw,1.8rem);
  opacity: 0.7;
  background-color: #2D2D2D;
  transition: all 0.3s ease-in-out;
}

.btn-hero:hover{
  cursor: pointer;
 transform: translateY(-3px) scale(1.05);
  
}

.btn-hero2:hover{
  cursor: pointer;
 transform:translateY(-3px) scale(1.05) ;
}



.two-div-mainwrapper {
  display: flex;
  margin-left: 13.3%;
}

.title-container {
  width: fit-content;
}

.icons-hero {
  margin-top: 12px;
  left: 0;
  display: flex;
  align-items: center;
  gap: 15px;
}

.icons-apps:hover{
cursor: pointer;
}
