*{
    margin: 0;
    padding: 0;
    background-color: #0c1c2d;
    color: white;
}

#main-card{
    height: 100vh;
    width: 30%;
    padding: 10px;
    
}

.second-maincard-box{
    align-items: center;
    background-color: #0f4a7a;
}

#image-equilibrium{
    
    height: 40vh
}