.Navbar{
 width: 100%;
  
}

.Navbar-inside{
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}

.nav-right{
    display: flex;
    gap: 10px;
    align-items: center;
  
}