.Navbar{
 width: 100%;
 position: fixed;
 top: 0;
 left: 0;  
 z-index: 1000;

}

.Navbar-inside{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%; 
    justify-content: space-between;
    padding: 10px;
 
    
}

.nav-right{
    display: flex;
    gap: 10px;
    align-items: center;
    /* filter: none;
  background: transparent; */
    
   
  
}

.logo-icon{
    width: 250px;
    height: 120px;
  
}
.nav-btn{
    background: transparent;
    border: none;
    height: fit-content;
}

.dark-btn{
    height: 100px;
   
}

.menu-icon{
    height: 74px;
    margin-bottom: 6px;
}

.dark-btn:hover, .menu-icon:hover{
cursor: pointer;

}


/*popup and menu css*/

.overlay-popup-joker{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.534);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

.overlay-inside-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.joker-popup{
  max-width: 45%;
  height: auto;
}

.popup-text{
  font-size: 90px;
  color: white;
  width: 100%;
  
}

 
.GS-word{
  opacity: 0;
  display: inline-block;
  margin-right: 2rem;
}

/*menu bar*/

.menu-dropdown{
  position: fixed;
  top: 0;
  right: 0;
  width: 280px;
  height: 100vh;
  
  background: #0f0f0f;
  box-shadow: -5px 0 20px rgba(0, 0, 0, 0.5);
    z-index: 1002;

  display: flex;
  align-items: center;
  justify-content: center;
   
}





.menu-ul-items{
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}
.menu-ul-items li{
  padding: 18px 0;
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.menu-ul-items li:hover{
  color: #F6FF3D;
  transform: scale(1.05);
    background: rgba(255, 255, 255, 0.05);

}

.backdrop-menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1001;
}

.menu-close-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.menu-close-btn img{
 width: 40px;
  height: auto;
}