.portfolio-making{ 
    width: 100%;
}


.portfolio-inside-container{
       max-width: 1000px;
  margin: 0 auto;
  padding-top: 120px;
}

.hori{
    margin-left: 260px;
}
.desktop-only{
    display: block;
}

.mobile-only{
    display: none;
}